<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animal_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{234,1},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{467,1},{231,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,211},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{234,211},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{467,234},{231,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,421},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{234,421},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{467,467},{231,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,631},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{234,631},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{467,700},{231,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,841},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{234,841},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{467,933},{231,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1051},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{234,1051},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{467,1166},{231,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1261},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{234,1261},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{467,1399},{231,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1632},{231,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animal_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{211,1471},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{444,1632},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>animal_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,34}</string>
                <key>spriteSize</key>
                <string>{231,208}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{211,1681},{231,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Animateanimal.png</string>
            <key>size</key>
            <string>{676,1890}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee04d182e9a338d874b1bb9c4c4dcc10:995cad4fe135fae93248408e088a06fe:c2dfeda5fe317c445677647054b6bfd8$</string>
            <key>textureFileName</key>
            <string>Animateanimal.png</string>
        </dict>
    </dict>
</plist>
