<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ABC_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{191,194}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{385,761},{191,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{189,186}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{574,1},{189,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,186}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{765,1},{189,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,186}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,187},{189,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,184}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{189,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,184}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{192,1},{189,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,184}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{383,1},{189,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,186}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{192,187},{189,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,186}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{383,187},{189,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,188}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{574,189},{189,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,188}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{765,189},{189,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{191,194}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{581,761},{191,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{383,375},{189,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{574,379},{189,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{189,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{766,379},{189,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,192}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,565},{189,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{189,192}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{195,567},{189,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-14}</string>
                <key>spriteSize</key>
                <string>{191,194}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{777,761},{191,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{189,192}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{389,570},{189,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,192}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{583,570},{189,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{189,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{777,570},{189,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{189,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,756},{189,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{193,758},{189,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ABC_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-15}</string>
                <key>spriteSize</key>
                <string>{189,188}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,375},{189,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ABC_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-14}</string>
                <key>spriteSize</key>
                <string>{189,188}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{192,375},{189,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AnimateABC.png</string>
            <key>size</key>
            <string>{972,953}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31deae52f8561b76c689a5e806596a30:38c303b515ddc762334a430cab03c50c:395f710bef86e834e208415b157da503$</string>
            <key>textureFileName</key>
            <string>AnimateABC.png</string>
        </dict>
    </dict>
</plist>
