<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>minghua_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,19}</string>
                <key>spriteSize</key>
                <string>{181,182}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{181,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,24}</string>
                <key>spriteSize</key>
                <string>{181,194}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{185,1},{181,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,24}</string>
                <key>spriteSize</key>
                <string>{181,194}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{381,1},{181,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,24}</string>
                <key>spriteSize</key>
                <string>{181,194}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{577,1},{181,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,25}</string>
                <key>spriteSize</key>
                <string>{181,196}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,184},{181,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,24}</string>
                <key>spriteSize</key>
                <string>{181,194}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{773,1},{181,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,24}</string>
                <key>spriteSize</key>
                <string>{181,194}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{199,184},{181,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,24}</string>
                <key>spriteSize</key>
                <string>{181,194}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{395,184},{181,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,23}</string>
                <key>spriteSize</key>
                <string>{181,192}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{591,184},{181,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,22}</string>
                <key>spriteSize</key>
                <string>{181,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,367},{181,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,22}</string>
                <key>spriteSize</key>
                <string>{181,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{193,367},{181,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,19}</string>
                <key>spriteSize</key>
                <string>{181,182}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{785,184},{181,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,21}</string>
                <key>spriteSize</key>
                <string>{181,188}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{385,367},{181,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,20}</string>
                <key>spriteSize</key>
                <string>{181,186}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{575,367},{181,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,20}</string>
                <key>spriteSize</key>
                <string>{181,186}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{763,367},{181,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,19}</string>
                <key>spriteSize</key>
                <string>{181,184}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,550},{181,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,19}</string>
                <key>spriteSize</key>
                <string>{181,184}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{187,550},{181,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,19}</string>
                <key>spriteSize</key>
                <string>{181,182}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{373,550},{181,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,19}</string>
                <key>spriteSize</key>
                <string>{181,184}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{557,550},{181,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,19}</string>
                <key>spriteSize</key>
                <string>{181,184}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{743,550},{181,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,20}</string>
                <key>spriteSize</key>
                <string>{181,186}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,733},{181,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,21}</string>
                <key>spriteSize</key>
                <string>{181,188}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{189,733},{181,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,21}</string>
                <key>spriteSize</key>
                <string>{181,188}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{379,733},{181,188}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,22}</string>
                <key>spriteSize</key>
                <string>{181,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{569,733},{181,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minghua_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,23}</string>
                <key>spriteSize</key>
                <string>{181,192}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{761,733},{181,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Animateminghua.png</string>
            <key>size</key>
            <string>{968,915}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09d485b0b5b389f2bf160f53c25dd26d:b67453dcd4313b685f868387c8cb657f:03579c84d8c98b8748a7dae4883501ff$</string>
            <key>textureFileName</key>
            <string>Animateminghua.png</string>
        </dict>
    </dict>
</plist>
