<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>historyChronology_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{157,240}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{157,226}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{239,1430},{157,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{157,224}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1817},{157,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,26}</string>
                <key>spriteSize</key>
                <string>{155,224}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{319,1589},{155,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>historyChronology_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{157,224}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{160,1589},{157,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>historyChronology_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{157,224}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{227,1815},{157,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{157,226}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1589},{157,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>historyChronology_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{157,228}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,794},{157,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,29}</string>
                <key>spriteSize</key>
                <string>{155,230}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,637},{155,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{157,232}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,160},{157,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{157,232}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,319},{157,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{157,238}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,160},{157,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{157,234}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{239,1112},{157,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{157,236}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,955},{157,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,32}</string>
                <key>spriteSize</key>
                <string>{155,236}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1432},{155,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{157,238}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,319},{157,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{157,238}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,478},{157,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{157,238}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,637},{157,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{157,238}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,796},{157,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{157,236}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1114},{157,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{157,236}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1273},{157,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{157,234}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{239,1271},{157,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{157,232}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,478},{157,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{157,230}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{243,1},{157,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>historyChronology_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{157,228}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,953},{157,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AnimatehistoryChronology.png</string>
            <key>size</key>
            <string>{475,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22c859b0a5d6b0a76f2e6f18cde776f1:f9f85af07056495a7380b6fdca551794:8d873f6086dfab46e5abe6d25b159d79$</string>
            <key>textureFileName</key>
            <string>AnimatehistoryChronology.png</string>
        </dict>
    </dict>
</plist>
