<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CanenceBackgroundOne.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Canence.png</string>
            <key>size</key>
            <string>{1922,1082}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0216283adeea70ad4886e8eb2740235:645e9e10dee7253efe0e921a33825221:5cbd7faffc6c7254526e2fba38027434$</string>
            <key>textureFileName</key>
            <string>Canence.png</string>
        </dict>
    </dict>
</plist>
