<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,58}</string>
                <key>spriteSourceSize</key>
                <string>{18,60}</string>
                <key>textureRect</key>
                <string>{{1,216},{18,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,16}</string>
                <key>spriteSourceSize</key>
                <string>{17,16}</string>
                <key>textureRect</key>
                <string>{{61,216},{17,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{179,213}</string>
                <key>spriteSourceSize</key>
                <string>{185,223}</string>
                <key>textureRect</key>
                <string>{{1,1},{179,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DadGuess.png</string>
            <key>size</key>
            <string>{181,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc4c6cf5b57dfaf8f351c7169d9cbc35:514bc81b27a7cea960ebcd61366f1e96:396dd5823a2560af3ed645cd9c0391ef$</string>
            <key>textureFileName</key>
            <string>DadGuess.png</string>
        </dict>
    </dict>
</plist>
