<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ListSpaceLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{830,2}</string>
                <key>spriteSourceSize</key>
                <string>{830,2}</string>
                <key>textureRect</key>
                <string>{{1,1457},{830,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoginByPhone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{913,946},{44,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LoginByWeChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{913,834},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoginByXinlang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{913,890},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedioButtonNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{913,992},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedioButtonSelectedBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{913,1042},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedioButtonSelectedOrange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{913,1092},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaveButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,92}</string>
                <key>spriteSourceSize</key>
                <string>{258,92}</string>
                <key>textureRect</key>
                <string>{{214,1244},{258,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SettingBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{992,831}</string>
                <key>spriteSourceSize</key>
                <string>{992,831}</string>
                <key>textureRect</key>
                <string>{{1,1},{992,831}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SettingsContentBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{910,408}</string>
                <key>spriteSourceSize</key>
                <string>{910,408}</string>
                <key>textureRect</key>
                <string>{{1,834},{910,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TexteditBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,82}</string>
                <key>spriteSourceSize</key>
                <string>{401,82}</string>
                <key>textureRect</key>
                <string>{{214,1338},{401,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>per_touxiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,211}</string>
                <key>spriteSourceSize</key>
                <string>{211,211}</string>
                <key>textureRect</key>
                <string>{{1,1244},{211,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dialog.png</string>
            <key>size</key>
            <string>{994,1460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70f879688b90a754099956688c0cfa97:cc7b5456ea0723d50293cc819bbf0949:35e4deef2dc57376112494ab3d1d31c4$</string>
            <key>textureFileName</key>
            <string>Dialog.png</string>
        </dict>
    </dict>
</plist>
