<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ConfirmButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,92}</string>
                <key>spriteSourceSize</key>
                <string>{258,92}</string>
                <key>textureRect</key>
                <string>{{1316,995},{258,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ListSpaceLine.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{830,2}</string>
                <key>spriteSourceSize</key>
                <string>{830,2}</string>
                <key>textureRect</key>
                <string>{{1,1244},{830,2}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoginByPhone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{44,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1,1248},{44,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LoginByWeChat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1428,1183},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoginByXinlang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,54}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1496,1183},{66,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PersonalCenterBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{992,831}</string>
                <key>spriteSourceSize</key>
                <string>{992,831}</string>
                <key>textureRect</key>
                <string>{{1,1},{992,831}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PersonalHeadBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,211}</string>
                <key>spriteSourceSize</key>
                <string>{211,211}</string>
                <key>textureRect</key>
                <string>{{913,1079},{211,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PersonalHeadBorder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,170}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1126,1079},{170,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedioButtonNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{833,1244},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedioButtonSelectedBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1428,1239},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RedioButtonSelectedOrange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1478,1239},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SaveButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,92}</string>
                <key>spriteSourceSize</key>
                <string>{258,92}</string>
                <key>textureRect</key>
                <string>{{1298,1089},{258,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SettingBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{992,583}</string>
                <key>spriteSourceSize</key>
                <string>{992,583}</string>
                <key>textureRect</key>
                <string>{{995,1},{992,583}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SettingsContentBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{910,408}</string>
                <key>spriteSourceSize</key>
                <string>{910,408}</string>
                <key>textureRect</key>
                <string>{{1,834},{910,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SwichEnabled.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,68}</string>
                <key>textureRect</key>
                <string>{{913,834},{128,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SwichNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,68}</string>
                <key>spriteSourceSize</key>
                <string>{128,68}</string>
                <key>textureRect</key>
                <string>{{1298,1183},{128,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TexteditBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,82}</string>
                <key>spriteSourceSize</key>
                <string>{401,82}</string>
                <key>textureRect</key>
                <string>{{913,995},{401,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Dialog.png</string>
            <key>size</key>
            <string>{1579,1293}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53aacd999ee770db8e2dff921d370a3b:565d6ada63d2eae0ce57855cad6c6075:9d5f9d777bce4db9fed050e341ff8596$</string>
            <key>textureFileName</key>
            <string>Dialog.png</string>
        </dict>
    </dict>
</plist>
