<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LoginBorder.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{119,867},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoginButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,116}</string>
                <key>spriteSourceSize</key>
                <string>{401,116}</string>
                <key>textureRect</key>
                <string>{{1,538},{401,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LoginEyeClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{180,1},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoginEyeOpen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{180,37},{42,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoginPhone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,177}</string>
                <key>spriteSourceSize</key>
                <string>{177,177}</string>
                <key>textureRect</key>
                <string>{{1,1},{177,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoginSina.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,177}</string>
                <key>spriteSourceSize</key>
                <string>{177,177}</string>
                <key>textureRect</key>
                <string>{{1,180},{177,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LoginTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,104}</string>
                <key>spriteSourceSize</key>
                <string>{327,104}</string>
                <key>textureRect</key>
                <string>{{119,538},{327,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>LoginWechat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,177}</string>
                <key>spriteSourceSize</key>
                <string>{177,177}</string>
                <key>textureRect</key>
                <string>{{1,359},{177,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Login.png</string>
            <key>size</key>
            <string>{224,940}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:279c47be3c46bf9c45f7df588e8d6a39:b5b429a8173aa0044a990c301d374b1c:1536d167d15a0cd66b16c85ed832fedf$</string>
            <key>textureFileName</key>
            <string>Login.png</string>
        </dict>
    </dict>
</plist>
