<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>MainBaike.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{524,496}</string>
                <key>spriteSourceSize</key>
                <string>{562,506}</string>
                <key>textureRect</key>
                <string>{{1,545},{524,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainDadpat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{524,496}</string>
                <key>spriteSourceSize</key>
                <string>{562,506}</string>
                <key>textureRect</key>
                <string>{{1,1071},{524,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{542,496}</string>
                <key>spriteSourceSize</key>
                <string>{562,506}</string>
                <key>textureRect</key>
                <string>{{1,1},{542,496}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainMessage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,74}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{143,1597},{62,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MainNewMessage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,32}</string>
                <key>spriteSourceSize</key>
                <string>{31,32}</string>
                <key>textureRect</key>
                <string>{{219,1597},{31,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainNotice.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{64,68}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{77,1597},{64,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>MainSetting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{74,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1,1597},{74,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Main.png</string>
            <key>size</key>
            <string>{498,1670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aacda3f6c1d81a39ff7ff166d2cbd371:d8cf3c763e467a84d584030d57634c1c:d8d629a6b501bd991840527e921c506f$</string>
            <key>textureFileName</key>
            <string>Main.png</string>
        </dict>
    </dict>
</plist>
