<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>centerControl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{882,883}</string>
                <key>spriteSourceSize</key>
                <string>{882,883}</string>
                <key>textureRect</key>
                <string>{{1,1},{882,883}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countDown_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-124}</string>
                <key>spriteSize</key>
                <string>{529,660}</string>
                <key>spriteSourceSize</key>
                <string>{611,946}</string>
                <key>textureRect</key>
                <string>{{614,886},{529,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countDown_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-124}</string>
                <key>spriteSize</key>
                <string>{611,698}</string>
                <key>spriteSourceSize</key>
                <string>{611,946}</string>
                <key>textureRect</key>
                <string>{{1,886},{611,698}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>countDown_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-125}</string>
                <key>spriteSize</key>
                <string>{601,686}</string>
                <key>spriteSourceSize</key>
                <string>{611,946}</string>
                <key>textureRect</key>
                <string>{{885,1},{601,686}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>excellent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,98}</string>
                <key>spriteSourceSize</key>
                <string>{191,98}</string>
                <key>textureRect</key>
                <string>{{1259,689},{191,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>home.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1602,1379},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>homeActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1388,789},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyTouch_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1145,1114},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyTouch_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1145,1219},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyTouch_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1145,1324},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyTouch_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1145,1429},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyTouch_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1283,789},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyTouch_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1283,894},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyTouch_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1276,999},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>keyTouch_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1145,1114},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1701,1336},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1701,1441},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1250,1114},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1250,1219},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1250,1324},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1250,1429},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1355,1104},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>key_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,103}</string>
                <key>spriteSourceSize</key>
                <string>{103,103}</string>
                <key>textureRect</key>
                <string>{{1701,1336},{103,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>leak.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,98}</string>
                <key>spriteSourceSize</key>
                <string>{191,98}</string>
                <key>textureRect</key>
                <string>{{1698,1143},{191,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,129}</string>
                <key>spriteSourceSize</key>
                <string>{129,129}</string>
                <key>textureRect</key>
                <string>{{1145,983},{129,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,136}</string>
                <key>spriteSourceSize</key>
                <string>{151,136}</string>
                <key>textureRect</key>
                <string>{{1736,371},{151,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minusActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,136}</string>
                <key>spriteSourceSize</key>
                <string>{151,136}</string>
                <key>textureRect</key>
                <string>{{1739,524},{151,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1388,888},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicListActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1355,1209},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicListBackground.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{885,830},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicListButtonActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,139}</string>
                <key>spriteSourceSize</key>
                <string>{372,139}</string>
                <key>textureRect</key>
                <string>{{885,689},{372,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>musicListButtonNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,135}</string>
                <key>spriteSourceSize</key>
                <string>{368,135}</string>
                <key>textureRect</key>
                <string>{{1736,1},{368,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicListButtonTouched.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,135}</string>
                <key>spriteSourceSize</key>
                <string>{368,135}</string>
                <key>textureRect</key>
                <string>{{1602,535},{368,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicListOkButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,132}</string>
                <key>spriteSourceSize</key>
                <string>{532,132}</string>
                <key>textureRect</key>
                <string>{{1602,1},{532,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>musicListSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1474,112}</string>
                <key>spriteSourceSize</key>
                <string>{1474,112}</string>
                <key>textureRect</key>
                <string>{{1488,1},{1474,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>perfect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,94}</string>
                <key>spriteSourceSize</key>
                <string>{234,94}</string>
                <key>textureRect</key>
                <string>{{1602,1143},{234,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>play.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,236}</string>
                <key>spriteSourceSize</key>
                <string>{208,236}</string>
                <key>textureRect</key>
                <string>{{1602,905},{208,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playStatePause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1355,1308},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playStatePauseActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1355,1407},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playStatePlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1388,987},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playStatePlayActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{1454,1477},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,136}</string>
                <key>spriteSourceSize</key>
                <string>{151,136}</string>
                <key>textureRect</key>
                <string>{{1739,677},{151,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>plusActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,136}</string>
                <key>spriteSourceSize</key>
                <string>{151,136}</string>
                <key>textureRect</key>
                <string>{{1145,830},{151,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,66}</string>
                <key>spriteSourceSize</key>
                <string>{89,66}</string>
                <key>textureRect</key>
                <string>{{1739,830},{89,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PianoGame.png</string>
            <key>size</key>
            <string>{1876,1585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c48c0acc67c99fced2b3061a96233c79:0ec5ca2ec318a45093d2f3c48e1ac93d:99752702a6aba31152f2364337dc8068$</string>
            <key>textureFileName</key>
            <string>PianoGame.png</string>
        </dict>
    </dict>
</plist>
