<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{255,176}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{290,920},{255,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{287,158}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,639},{287,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{291,156}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{595,1},{291,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{293,156}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{298,159},{293,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{295,156}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,161},{295,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{295,156}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{298,1},{295,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{295,158}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{295,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{293,158}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,319},{293,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{291,158}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,479},{291,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{287,158}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,799},{287,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,5}</string>
                <key>spriteSize</key>
                <string>{283,160}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,959},{283,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{255,176}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{555,1098},{255,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{277,164}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1121},{277,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{273,166}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{575,319},{273,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{267,170}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{286,1098},{267,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{263,172}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{628,657},{263,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{259,174}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{826,487},{259,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,10}</string>
                <key>spriteSize</key>
                <string>{257,176}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{812,1015},{257,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{257,174}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{547,922},{257,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{261,172}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{454,657},{261,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{265,170}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{806,748},{265,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{269,168}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{555,487},{269,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{275,164}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{298,317},{275,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{279,162}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{290,639},{279,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{283,158}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{593,159},{283,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Web_WorldHistory.png</string>
            <key>size</key>
            <string>{1001,1286}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bf1551cad802a0d826116da23923dff:c44348e876de76c1507b502345dbf85a:6c787a04916ad5c0f179386cfc7eaff4$</string>
            <key>textureFileName</key>
            <string>Web_WorldHistory.png</string>
        </dict>
    </dict>
</plist>
