<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{229,192}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1345,361},{229,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{203,172}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1002,1},{203,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{201,168}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{596,1},{201,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{197,166}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{195,166}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{200,1},{195,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{197,166}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{397,1},{197,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{201,168}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{799,1},{201,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,60}</string>
                <key>spriteSize</key>
                <string>{203,172}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1207,1},{203,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{205,174}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1412,1},{205,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{209,176}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,169},{209,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{211,178}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{423,171},{211,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{225,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{891,357},{225,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{215,180}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{849,175},{215,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{217,182}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1283,177},{217,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{219,184}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,347},{219,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,60}</string>
                <key>spriteSize</key>
                <string>{221,188}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{443,351},{221,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{225,190}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1118,361},{225,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{227,192}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1576,361},{227,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{223,188}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{666,357},{223,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,60}</string>
                <key>spriteSize</key>
                <string>{219,186}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{222,351},{219,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{217,182}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1502,177},{217,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{215,180}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1066,175},{215,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{211,178}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{636,171},{211,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{209,176}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{212,169},{209,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,59}</string>
                <key>spriteSize</key>
                <string>{207,174}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1619,1},{207,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Web_Earth.png</string>
            <key>size</key>
            <string>{1827,554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b07b105c890325605f62b723d600324:79a82dd403d8fcee354121990ede2bcb:c76cef033afe912a03fed4e46d24fde4$</string>
            <key>textureFileName</key>
            <string>Web_Earth.png</string>
        </dict>
    </dict>
</plist>
