<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Frame_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,34}</string>
                <key>spriteSize</key>
                <string>{157,240}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1},{157,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{157,226}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{239,1430},{157,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{157,224}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1817},{157,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,26}</string>
                <key>spriteSize</key>
                <string>{155,224}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{319,1589},{155,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{157,224}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{160,1589},{157,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,26}</string>
                <key>spriteSize</key>
                <string>{157,224}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{227,1815},{157,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,27}</string>
                <key>spriteSize</key>
                <string>{157,226}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1589},{157,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Frame_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{157,228}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,794},{157,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,29}</string>
                <key>spriteSize</key>
                <string>{155,230}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,637},{155,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{157,232}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,160},{157,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{157,232}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,319},{157,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{157,238}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,160},{157,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{157,234}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{239,1112},{157,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{157,236}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,955},{157,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,32}</string>
                <key>spriteSize</key>
                <string>{155,236}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1432},{155,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{157,238}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,319},{157,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{157,238}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,478},{157,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{157,238}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,637},{157,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,33}</string>
                <key>spriteSize</key>
                <string>{157,238}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,796},{157,238}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{157,236}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1114},{157,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,32}</string>
                <key>spriteSize</key>
                <string>{157,236}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{1,1273},{157,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,31}</string>
                <key>spriteSize</key>
                <string>{157,234}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{239,1271},{157,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,30}</string>
                <key>spriteSize</key>
                <string>{157,232}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,478},{157,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{157,230}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{243,1},{157,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Frame_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,28}</string>
                <key>spriteSize</key>
                <string>{157,228}</string>
                <key>spriteSourceSize</key>
                <string>{739,416}</string>
                <key>textureRect</key>
                <string>{{241,953},{157,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Web_HistoryChronology.png</string>
            <key>size</key>
            <string>{475,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab19089c9f9c71b1fcaa2fdb7cfa17ba:f9f85af07056495a7380b6fdca551794:8ef0ffcf65273f3ee9ef65e0ddbfaf5d$</string>
            <key>textureFileName</key>
            <string>Web_HistoryChronology.png</string>
        </dict>
    </dict>
</plist>
