<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,184}</string>
                <key>spriteSourceSize</key>
                <string>{182,184}</string>
                <key>textureRect</key>
                <string>{{1788,2530},{182,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>difficulty.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{159,208}</string>
                <key>spriteSourceSize</key>
                <string>{179,208}</string>
                <key>textureRect</key>
                <string>{{1571,2810},{159,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>difficulty_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,208}</string>
                <key>spriteSourceSize</key>
                <string>{179,208}</string>
                <key>textureRect</key>
                <string>{{1765,614},{179,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pic_ball_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1148,2742},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_pic_ball_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,89}</string>
                <key>spriteSourceSize</key>
                <string>{89,89}</string>
                <key>textureRect</key>
                <string>{{1412,2873},{89,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_pic_ball_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,91}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{1148,2647},{91,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_pic_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,175}</string>
                <key>spriteSourceSize</key>
                <string>{32,175}</string>
                <key>textureRect</key>
                <string>{{1980,2},{32,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_pic_gu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1482,777}</string>
                <key>spriteSourceSize</key>
                <string>{1482,777}</string>
                <key>textureRect</key>
                <string>{{2,2},{1482,777}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_pic_guide_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1282,24}</string>
                <key>spriteSourceSize</key>
                <string>{1282,24}</string>
                <key>textureRect</key>
                <string>{{2,2926},{1282,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_pic_guide_green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1282,24}</string>
                <key>spriteSourceSize</key>
                <string>{1282,24}</string>
                <key>textureRect</key>
                <string>{{1487,1566},{1282,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pic_guide_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1282,24}</string>
                <key>spriteSourceSize</key>
                <string>{1282,24}</string>
                <key>textureRect</key>
                <string>{{1515,1566},{1282,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pic_guide_remind_pink.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{1303,71}</string>
                <key>spriteSourceSize</key>
                <string>{1303,89}</string>
                <key>textureRect</key>
                <string>{{1337,1579},{1303,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pic_guide_remind_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{1303,73}</string>
                <key>spriteSourceSize</key>
                <string>{1303,89}</string>
                <key>textureRect</key>
                <string>{{1260,1579},{1303,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pic_guide_remind_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{1303,71}</string>
                <key>spriteSourceSize</key>
                <string>{1303,89}</string>
                <key>textureRect</key>
                <string>{{1412,1566},{1303,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pic_guide_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1282,24}</string>
                <key>spriteSourceSize</key>
                <string>{1282,24}</string>
                <key>textureRect</key>
                <string>{{1543,1566},{1282,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pic_light_center_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{512,440}</string>
                <key>textureRect</key>
                <string>{{1788,2082},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_pic_light_center_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,440}</string>
                <key>spriteSourceSize</key>
                <string>{512,440}</string>
                <key>textureRect</key>
                <string>{{1571,1566},{512,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pic_light_mid_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{764,629}</string>
                <key>spriteSourceSize</key>
                <string>{1070,699}</string>
                <key>textureRect</key>
                <string>{{1388,798},{764,629}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>game_pic_light_mid_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1070,699}</string>
                <key>spriteSourceSize</key>
                <string>{1070,699}</string>
                <key>textureRect</key>
                <string>{{2,2223},{1070,699}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_pic_light_out_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,43}</string>
                <key>spriteSize</key>
                <string>{1254,640}</string>
                <key>spriteSourceSize</key>
                <string>{1382,792}</string>
                <key>textureRect</key>
                <string>{{2,1579},{1254,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>game_pic_light_out_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1382,792}</string>
                <key>spriteSourceSize</key>
                <string>{1382,792}</string>
                <key>textureRect</key>
                <string>{{2,783},{1382,792}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>good.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{608,211}</string>
                <key>spriteSourceSize</key>
                <string>{608,211}</string>
                <key>textureRect</key>
                <string>{{1765,2},{608,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,213}</string>
                <key>spriteSourceSize</key>
                <string>{508,213}</string>
                <key>textureRect</key>
                <string>{{1571,2082},{508,213}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ordinary.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{159,208}</string>
                <key>spriteSourceSize</key>
                <string>{179,208}</string>
                <key>textureRect</key>
                <string>{{1783,2810},{159,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ordinary_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,208}</string>
                <key>spriteSourceSize</key>
                <string>{179,208}</string>
                <key>textureRect</key>
                <string>{{1076,2223},{179,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>perfect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,273}</string>
                <key>spriteSourceSize</key>
                <string>{792,273}</string>
                <key>textureRect</key>
                <string>{{1488,2},{792,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>select_sea_srtar1_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,64}</string>
                <key>spriteSourceSize</key>
                <string>{63,64}</string>
                <key>textureRect</key>
                <string>{{1148,2835},{63,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>simple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{159,208}</string>
                <key>spriteSourceSize</key>
                <string>{179,208}</string>
                <key>textureRect</key>
                <string>{{1076,2435},{159,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>simple_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,208}</string>
                <key>spriteSourceSize</key>
                <string>{179,208}</string>
                <key>textureRect</key>
                <string>{{1788,2318},{179,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundNameLeft.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{67,63}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1858,2718},{67,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>soundNameRight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{69,65}</string>
                <key>spriteSourceSize</key>
                <string>{69,69}</string>
                <key>textureRect</key>
                <string>{{1785,2718},{69,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,212}</string>
                <key>spriteSourceSize</key>
                <string>{210,212}</string>
                <key>textureRect</key>
                <string>{{1571,2594},{210,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>startButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,68}</string>
                <key>spriteSourceSize</key>
                <string>{228,68}</string>
                <key>textureRect</key>
                <string>{{1076,2647},{228,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CadenceMain.png</string>
            <key>size</key>
            <string>{2022,2971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:095f84217698437c03a3eeecea0f89e8:6ecc7e1cb5eeb1307455bf43635a7cfe:6dfe92147b7e8a4cfe024ace3bafa3fc$</string>
            <key>textureFileName</key>
            <string>CadenceMain.png</string>
        </dict>
    </dict>
</plist>
