<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PianoGameBGEffect_1_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-248.5,538.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameBGEffect_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,61}</string>
                <key>spriteSize</key>
                <string>{490,958}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{6,1},{490,958}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{966,1},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1952,1},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{2938,1},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,503},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{987,503},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1952,1},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1973,503},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,1005},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{987,1005},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1973,1005},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,53}</string>
                <key>spriteSize</key>
                <string>{500,974}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{2959,503},{500,974}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,1507},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{985,1507},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1969,1507},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{2953,1507},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{500,980}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{2959,1005},{500,980}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-248.5,538.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameBGEffect_1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,61}</string>
                <key>spriteSize</key>
                <string>{490,958}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{6,1},{490,958}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,53}</string>
                <key>spriteSize</key>
                <string>{500,974}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{2959,503},{500,974}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{500,980}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,2009},{500,980}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{983,2009},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{500,980}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,2009},{500,980}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1967,2009},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{2951,2009},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,2511},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{985,2511},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1971,2511},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{966,1},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1952,1},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{2938,1},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,503},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{987,503},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{983,2009},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1952,1},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1973,503},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,1005},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{987,1005},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1973,1005},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,1507},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{985,1507},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1969,1507},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{2953,1507},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,50}</string>
                <key>spriteSize</key>
                <string>{500,980}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{2959,1005},{500,980}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1967,2009},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{2951,2009},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{500,982}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1,2511},{500,982}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{985,2511},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameBGEffect_1_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,48}</string>
                <key>spriteSize</key>
                <string>{500,984}</string>
                <key>spriteSourceSize</key>
                <string>{500,1080}</string>
                <key>textureRect</key>
                <string>{{1971,2511},{500,984}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PianoGameBGEffect_1.png</string>
            <key>size</key>
            <string>{3940,3012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f96a8c3b9762eca926361487141b085c:c04940a30e9cece0b285953dbee685cb:b8e735af81290f9415c7eaecc69a8b02$</string>
            <key>textureFileName</key>
            <string>PianoGameBGEffect_1.png</string>
        </dict>
    </dict>
</plist>
