<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-318.5,207}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{640,417}</string>
                <key>textureRect</key>
                <string>{{1189,833},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,3}</string>
                <key>spriteSize</key>
                <string>{556,411}</string>
                <key>spriteSourceSize</key>
                <string>{640,417}</string>
                <key>textureRect</key>
                <string>{{1189,420},{556,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{574,417}</string>
                <key>spriteSourceSize</key>
                <string>{640,417}</string>
                <key>textureRect</key>
                <string>{{1189,1},{574,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{582,417}</string>
                <key>spriteSourceSize</key>
                <string>{640,417}</string>
                <key>textureRect</key>
                <string>{{595,839},{582,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{582,417}</string>
                <key>spriteSourceSize</key>
                <string>{640,417}</string>
                <key>textureRect</key>
                <string>{{1179,839},{582,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{592,417}</string>
                <key>spriteSourceSize</key>
                <string>{640,417}</string>
                <key>textureRect</key>
                <string>{{1,1},{592,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{592,417}</string>
                <key>spriteSourceSize</key>
                <string>{640,417}</string>
                <key>textureRect</key>
                <string>{{1,420},{592,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{592,417}</string>
                <key>spriteSourceSize</key>
                <string>{640,417}</string>
                <key>textureRect</key>
                <string>{{1,839},{592,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{592,417}</string>
                <key>spriteSourceSize</key>
                <string>{640,417}</string>
                <key>textureRect</key>
                <string>{{595,1},{592,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{592,417}</string>
                <key>spriteSourceSize</key>
                <string>{640,417}</string>
                <key>textureRect</key>
                <string>{{595,420},{592,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PianoGameToneTouched.png</string>
            <key>size</key>
            <string>{1764,1257}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc8e5cc3b5b82af4407ac3ce66b0afc0:3a9f806742adfc4fa5d573313cc1b850:ef31e31adb344539a9746157703e6e7b$</string>
            <key>textureFileName</key>
            <string>PianoGameToneTouched.png</string>
        </dict>
    </dict>
</plist>
