<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PianoGameToneTouchedUp_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,7}</string>
                <key>spriteSize</key>
                <string>{210,204}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1543,699},{210,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-11}</string>
                <key>spriteSize</key>
                <string>{334,240}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1545,363},{334,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameToneTouchedUp_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{404,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{415,1},{404,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,7}</string>
                <key>spriteSize</key>
                <string>{404,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{415,323},{404,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{412,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1,1},{412,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{412,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1,323},{412,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{412,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1,645},{412,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,-2}</string>
                <key>spriteSize</key>
                <string>{360,296}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1545,1},{360,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameToneTouchedUp_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,5}</string>
                <key>spriteSize</key>
                <string>{360,314}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1183,323},{360,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,7}</string>
                <key>spriteSize</key>
                <string>{360,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{821,1},{360,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,7}</string>
                <key>spriteSize</key>
                <string>{360,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{821,323},{360,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,7}</string>
                <key>spriteSize</key>
                <string>{360,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1181,645},{360,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,7}</string>
                <key>spriteSize</key>
                <string>{360,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1183,1},{360,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,7}</string>
                <key>spriteSize</key>
                <string>{370,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{809,645},{370,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedUp_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,7}</string>
                <key>spriteSize</key>
                <string>{392,320}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{415,645},{392,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PianoGameToneTouchedUp.png</string>
            <key>size</key>
            <string>{1842,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7a9939531d602f401df3ba3bbadabfe:15fda9ea389dff83f1b3b0efaf7e69ea:0f27b9d4425e2cfa9ec1c360a380a20e$</string>
            <key>textureFileName</key>
            <string>PianoGameToneTouchedUp.png</string>
        </dict>
    </dict>
</plist>
