<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PianoGameToneTouchedDown_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-204.5,165.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{171,277},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedDown_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{38,-15}</string>
                <key>spriteSize</key>
                <string>{86,66}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{151,587},{86,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedDown_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{24,22}</string>
                <key>spriteSize</key>
                <string>{160,84}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{171,357},{160,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameToneTouchedDown_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,27}</string>
                <key>spriteSize</key>
                <string>{168,86}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1,277},{168,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedDown_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,30}</string>
                <key>spriteSize</key>
                <string>{176,88}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1,187},{176,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedDown_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,34}</string>
                <key>spriteSize</key>
                <string>{180,90}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1,95},{180,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedDown_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,36}</string>
                <key>spriteSize</key>
                <string>{186,92}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1,1},{186,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedDown_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,-14}</string>
                <key>spriteSize</key>
                <string>{90,66}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{151,519},{90,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedDown_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,-11}</string>
                <key>spriteSize</key>
                <string>{96,66}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{189,1},{96,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameToneTouchedDown_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{34,-8}</string>
                <key>spriteSize</key>
                <string>{104,68}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1,447},{104,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PianoGameToneTouchedDown_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,-4}</string>
                <key>spriteSize</key>
                <string>{112,68}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1,519},{112,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameToneTouchedDown_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,1}</string>
                <key>spriteSize</key>
                <string>{122,72}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{183,99},{122,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameToneTouchedDown_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,6}</string>
                <key>spriteSize</key>
                <string>{132,74}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{179,223},{132,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameToneTouchedDown_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{28,12}</string>
                <key>spriteSize</key>
                <string>{140,78}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{71,517},{140,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>PianoGameToneTouchedDown_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{26,17}</string>
                <key>spriteSize</key>
                <string>{150,80}</string>
                <key>spriteSourceSize</key>
                <string>{412,334}</string>
                <key>textureRect</key>
                <string>{{1,365},{150,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PianoGameToneTouchedDown.png</string>
            <key>size</key>
            <string>{256,658}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c7d3acc3374513e9dbeb7e0ef7874bc:56688dec0b99bdef837dea179a1b8755:a79b550d3d70d689fb926b7a03a9f872$</string>
            <key>textureFileName</key>
            <string>PianoGameToneTouchedDown.png</string>
        </dict>
    </dict>
</plist>
