<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,139}</string>
                <key>spriteSourceSize</key>
                <string>{372,139}</string>
                <key>textureRect</key>
                <string>{{2211,1},{372,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_update_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2208,1242}</string>
                <key>spriteSourceSize</key>
                <string>{2208,1242}</string>
                <key>textureRect</key>
                <string>{{1,1},{2208,1242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DadGuessUpdate.png</string>
            <key>size</key>
            <string>{2351,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77e6c5a4ade646dabce228d5c07ccb8e:c0bfb28286ee6a172422fb39d649aea3:5a3ccc56e0a2abd4cfd9e5161bd302f7$</string>
            <key>textureFileName</key>
            <string>DadGuessUpdate.png</string>
        </dict>
    </dict>
</plist>
