<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caicai_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{1225,2675},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_abc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{216,218}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1681,2099},{216,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_animal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{212,224}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1121,2449},{212,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,220}</string>
                <key>spriteSourceSize</key>
                <string>{216,220}</string>
                <key>textureRect</key>
                <string>{{1681,1877},{216,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{212,224}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1335,2449},{212,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1681,1643},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_icon_blueteeth_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{94,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{1121,1477},{94,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_icon_blueteeth_yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-19}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{1586,2295},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_icon_gohome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1121,2675},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_pic_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,152}</string>
                <key>spriteSourceSize</key>
                <string>{463,152}</string>
                <key>textureRect</key>
                <string>{{1121,2295},{463,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_pic_product.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1264,392}</string>
                <key>spriteSourceSize</key>
                <string>{1264,392}</string>
                <key>textureRect</key>
                <string>{{1,1083},{1264,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,222}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1549,2449},{212,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_abc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1,1477},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_animal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1,2129},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{561,1477},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{561,2129},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1267,1083},{558,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_xq_cover_sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1121,1643},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DadGuessMain.png</string>
            <key>size</key>
            <string>{1922,2780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0a414173557e8f1bba72ab4d6b8e4c6:55881edd36dd3c1d357f076fe8d3e357:a28833b13ad7ee444b0b7bae4b4f0f00$</string>
            <key>textureFileName</key>
            <string>DadGuessMain.png</string>
        </dict>
    </dict>
</plist>
