<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caicai_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{201,1923},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_bluesearch_pic_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,287}</string>
                <key>spriteSourceSize</key>
                <string>{248,287}</string>
                <key>textureRect</key>
                <string>{{2597,1},{248,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_bluesearch_pic_fontbj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,178}</string>
                <key>spriteSourceSize</key>
                <string>{389,178}</string>
                <key>textureRect</key>
                <string>{{2108,1865},{389,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_abc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{216,218}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{2421,1213},{216,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_animal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{212,224}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{2203,1435},{212,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_home_chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,220}</string>
                <key>spriteSourceSize</key>
                <string>{216,220}</string>
                <key>textureRect</key>
                <string>{{2203,1213},{216,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{212,224}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{2417,1435},{212,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{2597,290},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_icon_blueteeth_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{94,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{1,1923},{94,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_icon_blueteeth_yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-19}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{397,1923},{80,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_icon_gohome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{97,1923},{102,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_pic_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,152}</string>
                <key>spriteSourceSize</key>
                <string>{463,152}</string>
                <key>textureRect</key>
                <string>{{1643,1865},{463,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_pic_product.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1264,392}</string>
                <key>spriteSourceSize</key>
                <string>{1264,392}</string>
                <key>textureRect</key>
                <string>{{1083,1},{1264,392}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_home_sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,222}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{2499,1661},{212,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_icon_goback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{299,1923},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_abc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1083,1267},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_animal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1477,1},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1477,653},{558,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_xq_cover_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{2037,1},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1643,1213},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{2129,653},{558,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DadGuessMain.png</string>
            <key>size</key>
            <string>{2846,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cfc2449607e3a857d8bdec4a077052f4:bffa683e238c3ed64c5f2aa450a202cb:a28833b13ad7ee444b0b7bae4b4f0f00$</string>
            <key>textureFileName</key>
            <string>DadGuessMain.png</string>
        </dict>
    </dict>
</plist>
