<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>caicai_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{2835,1317},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_bluesearch_pic_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{397,398}</string>
                <key>spriteSourceSize</key>
                <string>{397,400}</string>
                <key>textureRect</key>
                <string>{{1083,1515},{397,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_bluesearch_pic_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,287}</string>
                <key>spriteSourceSize</key>
                <string>{248,287}</string>
                <key>textureRect</key>
                <string>{{2546,1213},{248,287}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_bluesearch_pic_fontbj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,178}</string>
                <key>spriteSourceSize</key>
                <string>{389,178}</string>
                <key>textureRect</key>
                <string>{{1482,1515},{389,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_home_abc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{216,218}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{2094,1699},{216,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_animal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{212,224}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{2449,1463},{212,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_home_bj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_home_chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,220}</string>
                <key>spriteSourceSize</key>
                <string>{216,220}</string>
                <key>textureRect</key>
                <string>{{1876,1699},{216,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{212,224}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{2546,1677},{212,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{2312,1678},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_icon_blueteeth_no.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,0}</string>
                <key>spriteSize</key>
                <string>{94,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{2449,1213},{94,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_icon_blueteeth_yes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-19}</string>
                <key>spriteSize</key>
                <string>{80,86}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{2675,1463},{80,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_home_icon_gohome.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{102,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{2835,1213},{102,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_home_icon_nfc_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,1}</string>
                <key>spriteSize</key>
                <string>{94,122}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{2449,1339},{94,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_icon_nfc_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-19}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{2675,1545},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_pic_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,152}</string>
                <key>spriteSourceSize</key>
                <string>{463,152}</string>
                <key>textureRect</key>
                <string>{{2295,1213},{463,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_home_pic_product.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1260,392}</string>
                <key>spriteSourceSize</key>
                <string>{1260,392}</string>
                <key>textureRect</key>
                <string>{{1083,1},{1260,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_home_sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,222}</string>
                <key>spriteSourceSize</key>
                <string>{232,232}</string>
                <key>textureRect</key>
                <string>{{1662,1699},{212,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_icon_goback.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{2835,1415},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_abc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{2345,1},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_animal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1083,395},{558,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_xq_cover_chinese.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1735,395},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>caicai_xq_cover_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1083,955},{558,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_xq_cover_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{2295,653},{558,650}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>caicai_xq_cover_sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,650}</string>
                <key>spriteSourceSize</key>
                <string>{558,650}</string>
                <key>textureRect</key>
                <string>{{1735,1047},{558,650}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DadGuessMain.png</string>
            <key>size</key>
            <string>{2946,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afd04ee4150a9c33b600ecd0b667f803:66da4a3505e9af59098538048d686f32:a28833b13ad7ee444b0b7bae4b4f0f00$</string>
            <key>textureFileName</key>
            <string>DadGuessMain.png</string>
        </dict>
    </dict>
</plist>
