<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,74}</string>
                <key>spriteSourceSize</key>
                <string>{22,74}</string>
                <key>textureRect</key>
                <string>{{285,1},{22,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>eye.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,20}</string>
                <key>spriteSourceSize</key>
                <string>{20,20}</string>
                <key>textureRect</key>
                <string>{{285,77},{20,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,282}</string>
                <key>spriteSourceSize</key>
                <string>{238,282}</string>
                <key>textureRect</key>
                <string>{{1,1},{238,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>DadGuessUpdate.png</string>
            <key>size</key>
            <string>{308,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc00fdeb70dcbbfaafdcaa7decbb3bea:5d66b61d4e72a8e50e4cfe603c476dff:5a3ccc56e0a2abd4cfd9e5161bd302f7$</string>
            <key>textureFileName</key>
            <string>DadGuessUpdate.png</string>
        </dict>
    </dict>
</plist>
